.App {
    background-color: grey;
    height: 100vh;
}

/* Auth Styles */
.mainAuthWrapper {
    max-width: 400px !important;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 10%;
    margin-left: -200px !important;
    left: 50%;
    border-radius: .25rem;
}

.tab-content {
    padding: 20px 0 !important;
}

@media only screen and (max-width: 400px) {
    .mainAuthWrapper {
        width: 100% !important;
        height: 100% !important;
        position: inherit;
        margin: 0 !important;
    }
}