html {
    background-color: grey;
}

.App {
    background-color: grey;
}

/* Auth Styles */
.mainAuthWrapper {
    max-width: 400px !important;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 10%;
    margin-left: -200px !important;
    left: 50%;
    border-radius: .25rem;
}

.tab-content {
    padding: 20px 0 !important;
}

@media only screen and (max-width: 400px) {
    .mainAuthWrapper {
        width: 100% !important;
        height: 100% !important;
        position: inherit;
        margin: 0 !important;
    }
}

/* Home Nav Styles */
.headerBar {
    background-color: lightcoral;
}

.homeLinks {
    height: 85vh;
    max-width: 200px !important;
    background-color: lightgreen;
    margin: 10px !important;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 15%;
}

.navItems li {
    list-style: none;
    font-size: 1.2rem;
    padding: 4px;
}

.navItems a {
    text-decoration: none;
    color: mediumblue;
}

.navItems svg {
    padding-bottom: 4px;
    font-size: 1.5rem
}

.logoutBtnWrapper {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50px !important;
}

.routerViews {
    height: 85vh;
    overflow-y: scroll;
    background-color:peru;
    margin: 10px !important;
    border-radius: 8px;
}

.eventViews {
    height: 85vh;
    background-color: royalblue;
    margin: 10px !important;
    border-radius: 8px;
}

/* Feed Styles */
.feedWrapper {
    border-bottom: 1px solid #bbbbbb
}

.postBox {
    border: 1px solid rgb(168, 168, 168);
    background-color: white;
    margin: 20px 0 !important;
}

.postBox:hover {
    cursor: pointer;
    background-color: rgb(233, 233, 233) !important;
}

.postBox p {
    margin: 0 !important;
    padding: 10px
}

.modal-footer {
    border-top: none !important;
}

.modalFeedText {
    height: 100px;
}

.feedposts {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #adb5bd;
    border-radius: .75rem;
    margin: 20px 0 !important;
}

.postName {
    border-bottom: 1px solid #adb5bd;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.postMenuCtrl {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.postName h4 {
    margin-bottom: 0 !important;
}

.postBody {
    margin: 10px 0 !important;
}

.postBody p {
    margin: 0 !important;
}

.postNameRow {
    position: relative;
}

.postMenu {
    position: absolute;
    left: 100%;
    margin-left: -100px;
    width: 100px !important;
    padding: 10px;
    background-color: rgb(199, 198, 198);
    border-radius: .50rem;
    
}

.postMenuOptions {
    position: relative;
    display: flex;
    flex-direction: column !important;
}

.postMenuOptions svg{
    position: absolute;
    position: absolute;
    left: 100%;
    margin-left: -36px;
    width: 50px;
    font-size: 1.3rem;
    top: -8px;
}

#postDropdown {
    float: right;
}